@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 480px) {
  .slick-prev {
    color: white !important;
    background: #979797 !important;
    width: 34px !important;
    height: 34px !important;
    border-radius: 50%;
    padding: 8px !important;
    left: -0% !important;
    top: 37% !important;
    z-index: 1;
  }
  .slick-next {
    color: white !important;
    background: #979797 !important;
    width: 34px !important;
    height: 34px !important;
    border-radius: 50%;
    padding: 8px !important;
    right: 25px !important;
    top: 37% !important;
  }
}

@media screen and (min-width: 1200px) {
  .slick-prev {
    color: white !important;
    background: #979797 !important;
    width: 64px !important;
    height: 64px !important;
    border-radius: 50%;
    padding: 20px !important;
    left: -0% !important;
    top: 42% !important;
    z-index: 1;
  }
  .slick-next {
    color: white !important;
    background: #979797 !important;
    width: 64px !important;
    height: 64px !important;
    border-radius: 50%;
    padding: 20px !important;
    right: 28px !important;
    top: 42% !important;
  }
}
